.product-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
}

.product-table th, .product-table td {
  border: 1px solid #444;
  padding: 8px 12px;
  text-align: center;
}

.product-table thead tr {
  background-color: #f2f2f2;
  font-weight: bold;
}
