<p>group-customers works!</p>
<p *ngIf="errMessage" style="color: red;">{{ errMessage }}</p>

<table border="1" class="customer-table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Email</td>
      <td>Age</td>
      <td>#</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let group of customerGroups">
      <tr class="group-header">
        <td colspan="5">{{ group.CustomerTypeId }} - {{ group.CustomterTypeName }}</td>
      </tr>
      <tr *ngFor="let cust of group.Customers">
        <td>{{ cust.Id }}</td>
        <td>{{ cust.Name }}</td>
        <td>{{ cust.Email }}</td>
        <td>{{ cust.Age }}</td>
        <td>
          <img [src]="cust.Image" [alt]="cust.Name" style="max-height: 80px; width: auto;" />
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
